# Created by .ignore support plugin (hsz.mobi)
### Python template
*$py.class
*.cover
*.egg
*.egg-info/
*.ipynb
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.cache
.coverage
.coverage.*
.DS_Store
.eggs/
.env
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.local_conf/
.make-*
.mypy_cache/
.pytest_cache/
.Python
.python-version
.ropeproject
.sadco_pack_sh_virtualenv/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode
.webassets-cache
/site
__pycache__/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
ENV/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
pack/
parts/
pip-delete-this-directory.txt
pip-log.txt
proxy_app.tgz
sdist/
src/*/version.py
target/
test-report.xml
var/
venv.bak/
venv/
voice_marusia_vkcommunity_proxy.tgz
wheels/
